{% extends 'header.html' %}

{% block title%}Chat{% endblock %}

{% block content %}

    <div id="main-section">
        <!--room selection-->
        <div class="transparent-bar mobile-hide"></div>
        <div id="sidebar" class="mobile-hide">
            <div class="sidebar_with_tilte"></div>
            <h4 class="rooms_text">Rooms</h4>
                <nav id="sidebar_rooms">
                    {% for i in user_rooms_list %}
                        <h5 class="select-room" id="{{i}}">{{ i }}</h5>
                        <hr color="white">
                    {% endfor %}
                </nav>
        </div>

        <!--message are-->
        <div id="rightside-panel">
            <div class="main-chat-section">
            
                <!--Display message start-->
                <div id="display-message-section">

                </div>
                <!--Display message ends-->

                <!--input message-->
                <div>
                    <input type="text" id="user_message" placeholder="Type here.." autocomplete="off" class="form-control form-rounded" maxlength="150">
                    <button class="btn btn-circle" type="button" id="send_message"><i class="fas fa-arrow-right"></i></button>
                </div>
            </div>

        </div>

    </div>
    <!-- get username ans room_name-->
    <script type="text/javascript">
        const username = `{{ username }}`;
        const room_name = `{{ room_name }}`;
        const user_rooms_list = `{{ user_rooms_list }}`
    </script>

        
{% endblock %}