<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <!--navigation section-->
        <nav>

        </nav>

        <div id="main-section">
            <!--room selection-->
            <nav id="sidebar">
                <h4>Rooms:</h4>
                {% for i in user_rooms_list %}
                    {% if i != "" %}
                        <h5 class="select-room">{{ i }}</h5>
                    {% endif %}
                {% endfor %}
                <a id="create_room" href={{url_for('create_room')}}>Join new room</a>
            </nav>

            <!--message are-->
            <div id="rightside-panel">
                <!--Display message-->
                <div id="display-message-section">

                </div>
                <!--input message-->
                <div id="input-area">
                    <input type="text" id="user_message" placeholder="Type here.." autocomplete="off">
                    <button type="button" id="send_message">SEND</button>
                </div>

            </div>

        </div>

        <!-- get username ans room_name-->
        <script type="text/javascript">
            const username = `{{ username }}`;
            const room_name = `{{ user_rooms_list[0] }}`;
            const user_rooms_list = `{{ user_rooms_list }}`
        </script>

        <!--custom js-->
         <script src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script>        

         <!-- SocketIO JS -->
         <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

         <!-- Custom SocketIO JS -->
         <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

        
    </body>
</html>