<html>
   <body>
       <!--Flash message-->
       {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

                Category: {{ messages[0][0] }}
                {{ messages[0][1] }}

            {% endif %}
        {% endwith %}

      <form action = "{{ url_for('create_room') }}" method = "POST">
         <p>Create Your Own Room:</p>
         <p><input type = "text" name = "Room_name" placeholder="Enter a name" autocomplete="off" /></p>
         <p><input type = "submit" value = "Create" /></p>
      </form>
      <br>
      <hr>
      <br>
      <form action = "{{ url_for('create_room') }}" method = "POST">
        <p>Join a room:</p>
        <p><input type = "text" name = "join_room_name" placeholder="Enter the room name" /></p>
        <p><input type = "submit" value = "Join" /></p>
     </form>
   </body>
</html>