
body{
    margin:0;
}

.navbar_left{
    background-color: rgb(255, 51, 0);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 3.5%;
}

.user{
    filter: invert(84%) sepia(3%) saturate(3092%) hue-rotate(313deg) brightness(102%) contrast(100%);
    width: 60%;
    margin-left: 0.5em;
    margin-top: 0.7em;
}

.user_name{
    size: 2em;
    color: #ffcbcb;
    margin-left: .5em;
}

.logout_icon{
    filter: invert(84%) sepia(3%) saturate(3092%) hue-rotate(313deg) brightness(102%) contrast(100%);
    width: 60%;
    margin-left: 0.5em;
    margin-top: 39em;
}